BODY {background: white; color: black; font-size: small; font-family: Verdana, Helvetica, Arial, sans-serif; }

H1 {font-style: italic; }
H2 {font-style: italic; background: #a6caf0; }
H3 {font-style: italic; }

tt {font-size: medium; }

/* link settings */
A {text-decoration:none; }
A:hover,A:active { text-decoration: underline; }

/* header settings */
DIV.header {text-align: center; }
.announce {color: red; }
.copyright {text-align: center; font-size: xx-small; }

/* general font settings */
.warning {color: red; font-weight: bold; }

/* code example settings */
pre { font-size: medium; }
pre.code { margin: 0 20% 0 20%; background: #FEEACB; padding: 1em; }
pre em { font-style: normal; color: red; }

