BODY {background: white; color: black;}

/* link settings */
A {text-decoration:none; }
A:hover,A:active { text-decoration:underline; }

/* font settings */
.warning {color: red; font-weight: bold; }
.announce {color: red; }
.copyright {font-size: x-small; }

/* code examples */
TABLE { background: #FEEACB; }
.setup {color: red; }
.verify {color: blue; }
